/*Mobile*/
@media (max-width: 480px) {
    body {
        background-color: #0d1e28;
    }
}

/*Tablet*/
@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-color: #0d1e28;
    }
}

/*Laptop and Desktop*/
@media (min-width: 1025px) {
    body {
        background-color: #0d1e28;
    }
}