/*
Site: General Programmer
Author: Phillip McCullough
CSS: 3
Date: 7/2/2023
Last Update: 7/16/2023

This page is for changing the presentation of content for different screen sizes.
*/

/*Mobile*/
@media screen and (max-width: 480px) {

  body {
    border-top-width: 16px;
  }

  .message {
    font-size: 40px;
    padding-top: 2%;
  }

  #content {
    background-color: #00091a;
    width: 100%;
    margin: 10% auto 0 auto;
    padding: unset;
    border: unset;
  }

}

/*Tablet*/
@media screen and (min-width: 481px) and (max-width: 1024px) {

  .message {
    font-size: 60px;
  }

}

/*Laptop and Desktop*/
@media screen and (min-width: 1025px) and (max-width: 1920px) {

}

/*High Resolution Displays*/
@media screen and (min-width: 1921px) {

  #content {
    margin: 10% auto 0 auto;
    max-width: 1600px;
  }

}
