
body {
  margin: 0;
  padding: 0;
  background-color: #00091a;
}

.container {
  
}

.message {
  color: #00b38f;
  text-align: center;
  padding-top: 4%;
}

#header {
  
}

#content {

}

#footer {

}
