/*
Site: General Developer
Author: Phillip McCullough
CSS: 3
Date: 7/2/2023
Last Update: 7/16/2023

This is the primary css styles page. 
*/

body {
  margin: 0;
  padding: 0;
  background-color: #00091a;
  border-top: 7px solid #00b38f;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 14px;
}

.message {
  color: #00b38f;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: #00b38f;
  font-size: 80px;
}

.copyright {
  color: #000;
  font-size: 12px;
  margin: 0 auto 0 2%;
}

#header {

}

#content {
  background-color: #ecf2f9;
  margin: 10% 5% 0 5%;
  padding-block: 20px 0px;
  border: 8px solid #00b38f;
  border-top: 0;
  border-radius: 25px;
}

#footer {
  background-color: #00b38f;
  position: absolute;
  bottom: 0;
  width: 100%;
}

