/*
Site: General Programmer
Screen: Large, Width 1025px +
Author: Phillip Ardrey
Date: October 2025
*/


/* Font Aquire */
@font-face {
    font-family: Aquire;
    src: url(../assets/fonts/aquire-font/AquireLight-YzE0o.otf);
}


/* Page */
body {
    margin: 0;
    padding: 0;
    background-color: powderblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Website Banner */
#website_banner {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: lightgreen;
    border-top: 1px solid mediumseagreen;
    border-bottom: 1px solid mediumseagreen;
    text-align: center;
    font-size: 5em;
    font-weight: lighter;
    color: black;
    font-family: Aquire;
    z-index: 1;
}


/* Main Container */
#main_container {
    max-width: 875px;
    margin: 130px auto 80px auto;
}


/* Welcome Message */
#welcome {
    margin: 0 auto 0 auto;
    padding: 0 25px 10px 25px;
    max-width: fit-content;
    color: black;
    background-color: lightgreen;
    border: 1px solid mediumseagreen;
    border-radius: 5px;
    text-align: center;
    font-size: 2.25em;
    font-weight: 450;
}


/* Heading 2 */
h2 {
    color: black;
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 1.5em;
    font-weight: 400;
}


/* Paragraph */
p {
    padding: 0 20px 0 20px;
    color: black;
    font-size: 1.1em;
    font-weight: 400;
    text-indent: 2em;
    line-height: 1.3;

}


/* Bold Text */
b {
    font-weight: 500;
}


/* Certifications Table */
#certifications_table {

    width: 100%;

    th {
        font-weight: 450;
        text-align: center;
        text-decoration: underline;
        font-size: 1.2em;
        line-height: 1.3;
    }

    td {
        font-weight: 400;
        text-align: center;
        font-size: 1.1em;
        line-height: 1.2em;
    }
}


/* Horizontal Row */
hr {
    border: 1px solid black;
}


/* Contact Information */
#contact_information {
    padding: 0 0 0 20px;
    color: black;
    font-size: 1.1em;
    line-height: 1.5;
    text-indent: 0em;
}


/* Copyright */
#copyright {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0 10px 0;
    font-size: .95em;
    text-align: center;
    background-color: lightgreen;
    border-top: 1px solid mediumseagreen;
    border-bottom: 1px solid mediumseagreen;
    z-index: 1;
}